.player-container {
  position: absolute;
  display: inline-block;
}
.info {
  font-size: 20px;
}
.soccerplayer-background {
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border-width: 20px;
  border: solid;
  color: white;
  background-color: black;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
}
