.menu {
  position: absolute;
  top: 50px;
  left: 0;
  border: 1px solid #717485;
  z-index: 9;
  background-color: #242834;
  border-radius: 6px;
  width: 90px;
}

.menu ul {
  list-style-type: none;
}

.in-menu-item {
  z-index: 9;
  position: relative;
  border-bottom: 1px solid #ccc;
  color: #9b9eaf;
  cursor: pointer;
  border-radius: 1px;
  border-color: #717485;
  padding-left: 0px;
}
.in-menu {
  z-index: 9;
  padding: 0px;
  margin: 0px;
  background-color: #242834;
  border-color: #717485;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 400;
}
.in-menu li {
  padding: 8px;
  border-bottom: 1px solid #cccccc00; /* Alt çizgi rengi ve kalınlığı */
}
.in-menu-item:hover {
  background-color: #7800e0;
  color: #ffffff;
  border-radius: 2px;
}
